
#tableContainer {
    padding:15px;
    box-shadow:0 0 6px #888;
    display: inline-block;
}

#tableContainer table{
    display: inline-block;
    float: left;
    border-collapse: collapse;
}

#tableContainer td {
    padding:5px 10px;
}

#tableContainer thead td{

    border-bottom:2px solid #2f75bb;
    padding:4px 10px;
    background-color:#ccc;
    color:white;
    font-weight:bold;
}

#tableContainer tfoot{
    background-color:#efefef;
    color:#666;
    font-weight:bold;

}
#tableContainer .colorBtn {
    border-bottom:2px solid #FFB870;
}
#tableContainer input{
    border:0;
    border-bottom:1px solid #ccc;
    width:100%;
}

#tableContainer button{
    background-color:#888;
    border:0;
    color:white;
    width:100%;
    font-size:0.6em;
    text-transform: uppercase;
}



.colorPickerContainer {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

.instrumentBar {
    display: block;
    width: 100%;
    border: 1px solid black;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    zoom: 1;
}